# ===== NODE =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== ENV =====
.env

# ===== UPLOADS (VERY IMPORTANT) =====
uploads/
data/uploads/

# ===== LOGS =====
logs/
*.log

# ===== OS =====
.DS_Store
Thumbs.db
